.card-container{
    /* height: 100vh; */
    width: 70%;
    background-color: rgb(226, 236, 243);
}
.singleCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 5px;
}




@media screen and (max-width:580px) {
    .card-container{
        width: 100%;
    }
    .singleCard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 5px;
    }
}